@page
@model ProjectManagementWebApp.Pages.ProjectMoldWorkpiecePage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>قطعه کار پروژه قالب</h1>

<p>
    <a class="btn btn-success m-1" asp-page="Create"><i class="fa fa-plus"></i></a>
</p>
<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>
                طول قطعه کار
            </th>
            <th>
                عرض قطعه کار
            </th>
            <th>
                ارتفاع قطعه کار
            </th>
            <th>
                نقطه بیس X
            </th>
            <th>
                نقطه بیس Y
            </th>
            <th>
                نقطه بیس Z
            </th>
            <th>
               پروژه قالب
            </th>
            <th>
               قطعه کار
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TblProjectMoldWorkpiece) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FldProjectMoldWorkpieceLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldProjectMoldWorkpieceWidth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldProjectMoldWorkpieceHeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldProjectMoldWorkpieceBasePointX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldProjectMoldWorkpieceBasePointY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldProjectMoldWorkpieceBasePointZ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldProjectMold.FldProjectMoldId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldWorkpiece.FldWorkpieceTxt)
            </td>
            <td>
                <a class="btn btn-warning text-white btn-block" asp-page="./Edit" asp-route-id="@item.FldProjectMoldWorkpieceId"><i class="fa fa-edit"></i></a>
                <a class="btn btn-danger btn-block" asp-page="./Delete" asp-route-id="@item.FldProjectMoldWorkpieceId"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
<a class="btn btn-link" asp-page="../Index">بازگشت</a>
