@page
@model MoldingProjectControlWebApp.Pages.ImplementationStepPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>مرحله پیاده سازی</h1>

<p>
    <a class="btn btn-success m-1" asp-page="Create"><i class="fa fa-plus"></i></a>
</p>
<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>
                مرحله پیاده سازی
            </th>
            <th>
               استراتژی اجرا
            </th>
            <th>
               پروژه
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TblImplementationStep) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FldImplementationStepsTxt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldExecutionStrategy.FldExecutionStrategyTxt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldProject.FldProjectTxt)
            </td>
            <td>
                <a class="btn btn-warning text-white btn-block" asp-page="./Edit" asp-route-id="@item.FldImplementationStepsId"><i class="fa fa-edit"></i></a>
                <a class="btn btn-danger btn-block" asp-page="./Delete" asp-route-id="@item.FldImplementationStepsId"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
<a class="btn btn-link" asp-page="../Index">بازگشت</a>
